CONFIG_ETH_SPI_ETHERNET_W5500=y
CONFIG_FREERTOS_HZ=500

CONFIG_CRSF_MIM_WIFI_SSID="16pro"
CONFIG_CRSF_MIM_WIFI_PASSWORD="1234567890"
CONFIG_CRSF_MIM_SKYMAP_UDP_PORT=8888

CONFIG_HTTPD_MAX_URI_LEN=64

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
