menu "CRSF-MIM"
    choice CRSF_MIM_FIRMWARE
        prompt "Board"
        default CRSF_MIM_FIRMWARE_TX
        config CRSF_MIM_FIRMWARE_TX
            bool "TX"
            help
                Transmitter firmware
        config CRSF_MIM_FIRMWARE_RX
            bool "RX"
            help
                Receiver firmware
    endchoice
    config CRSF_MIM_PIN_CONTROLLER
        int "Controller GPIO pin"
        default 45
        help
            "GPIO pin number connected to the Controller"
    config CRSF_MIM_PIN_MODULE
        int "Module GPIO pin"
        default 46
        help
            "GPIO pin number connected to the TX Module"
    config CRSF_MIM_SKYMAP_UDP_PORT
        int "UDP port for Skymap"
        help
            "UDP Port on which Skymap will send TATEP traffic"
    config CRSF_MIM_WIFI_SSID
        string "WiFi SSID"
        help
            WiFi SSID for Wifi Mode
    config CRSF_MIM_WIFI_PASSWORD
        string "WiFi Password"
        help
            WiFi Password for WiFi Mode
    config CRSF_MIM_SKYMAP_UDP_PORT
        int "UDP port for Skymap"
        help
            "UDP Port on which Skymap will send TATEP traffic"
    config CRSF_MIM_CHANNELS_RESPONSE
        bool "Respond with Channels Message"
        default n
        help
            Will respond with overridden first 4 channels for debugging
endmenu
