menu "CRSF-MIM-TEST"
    config CRSF_MIM_TEST_WIFI_SSID
        string "WiFi SSID"
        default "m1"
        help
            WiFi SSID for Wifi Mode
    config CRSF_MIM_TEST_WIFI_PASSWORD
        string "WiFi Password"
        default "01234567890"
        help
            WiFi Password for WiFi Mode
    config CRSF_MIM_TEST_NETIF_REPEATS
        int "Netif test repeats"
        default 0
        help "Number of time to init and deinit network interfaces"
endmenu
